<div class="container">
  <div>
    Bienvenido <b>{{name}}</b>.<br /> Has posteado <b>{{postLength}}</b> veces y comentado
    <b>{{commentLength}}</b> veces.
    Puedes verificar tu historial de posteo y comentarios abajo
  </div>
  <hr />
  <div>
    Tus Posts:
  </div>
  <app-post-tile [posts]="posts"></app-post-tile>
  <hr />
  <div>
    Tus Comentarios:
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a routerLink="/user/comment.username">{{comment.userName}}</a>
      </div>
      <div>
        <p>{{comment.duration}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr />
  </div>
</div>
